<div
  class="shadow h-12 px-4 flex items-center justify-between sticky top-0 z-50 bg-white"
>
  <div
    class="flex items-center space-x-2 cursor-pointer"
    [routerLink]="['/dashboard']"
  >
    <i class="fa-solid fa-user-astronaut"></i>
    <span class="font-bold">My Account</span>
  </div>
</div>

<div class="p-4 flex flex-col">
  <form
    class="flex flex-col space-y-4"
    [formGroup]="accountForm"
    (ngSubmit)="changeDetails()"
  >
    <div class="flex flex-col space-y-1">
      <label class="text-xs font-bold">Display Name:</label>
      <input
        class="p-2 border rounded-md"
        type="text"
        formControlName="displayName"
        placeholder="Your DisplayName"
        autocomplete="off"
        data-lpignore="true"
        data-form-type="other"
      />
    </div>

    <div class="flex flex-col space-y-1">
      <label class="text-xs font-bold">Phone Number:</label>
      <input
        class="p-2 border rounded-md"
        type="text"
        formControlName="phoneNumber"
        placeholder="Must start with +44"
        autocomplete="off"
        data-lpignore="true"
        data-form-type="other"
      />
      <p class="text-xs text-gray-400">
        This number is the number you want your recipients to see. It has to be
        authorised to do so, so you can't pretend anyone you wish to!
      </p>
      <p class="text-xs text-gray-400">
        If this field is left blank, then the recipient will see a default
        number.
      </p>
      <p class="text-xs text-gray-400">
        Contact Dolan if you want to authorise a number. A automatic
        authorisation feature is coming soon.
      </p>
    </div>

    <button class="button-primary" type="submit">
      <i class="fa-regular fa-flask-round-potion"></i> Change Details
    </button>
  </form>

  <div class="py-4 -mx-4">
    <hr />
  </div>

  <button class="button-primary self-end" (click)="signOut()">
    <i class="fa-light fa-right-from-bracket"></i> Sign out
  </button>
</div>
