<ng-container *ngIf="callConfigs$ | async as callConfigs">
  <div class="flex space-x-2" *ngFor="let callConfig of callConfigs">
    <div class="cursor-pointer" [routerLink]="['/call-configs', callConfig.id]">
      {{ callConfig.data().cron }} {{ callConfig.data().toNumber }}
    </div>
    <button
      class="p-2 bg-red-500 rounded border border-red-700 text-white"
      (click)="deleteCallConfig(callConfig)"
    >
      Delete <i class="fa-thin fa-trash-can"></i>
    </button>
  </div>
</ng-container>

<form [formGroup]="createCallConfigForm" (ngSubmit)="createCallConfig()">
  <input
    formControlName="cron"
    class="p-2 border rounded-md"
    type="text"
    placeholder="e.g. Every sunday at 7pm"
  />
  <input
    formControlName="toNumber"
    class="p-2 border rounded-md"
    type="text"
    placeholder="Has to begin with the region code: +44 etc. No spaces!"
  />
  <button type="submit">Create Config</button>
</form>

{{ cron$ | async }}
