<div class="m-4">
  <form
    class="flex flex-col space-y-2"
    [formGroup]="createCallConfigForm"
    (ngSubmit)="createCallConfig()"
  >
    <input
      formControlName="cron"
      class="p-2 border rounded-md"
      type="text"
      placeholder="e.g. Every sunday at 7pm"
    />
    <input
      formControlName="toNumber"
      class="p-2 border rounded-md"
      type="text"
      placeholder="Has to begin with the region code: +44 etc. No spaces!"
    />
    <button class="button-primary" type="submit">Create Config</button>
  </form>

  <div *ngIf="cron$ | async as cron">
    {{ cron | naturalCron }}
  </div>

  <div class="py-4 -mx-4">
    <hr />
  </div>

  <h1 class="font-bold text-2xl pb-4">Call Configurations</h1>

  <ng-container *ngIf="callConfigs$ | async as callConfigs">
    <div
      *ngIf="callConfigs.length === 0"
      class="flex flex-col items-center py-8 space-y-2"
    >
      <i class="fa-light fa-empty-set text-4xl"></i>
      <p class="font-bold">No Configurations</p>
    </div>

    <div
      class="flex flex-col border rounded-md"
      *ngFor="let callConfig of callConfigs"
    >
      <div
        class="cursor-pointer p-4"
        [routerLink]="['/call-configs', callConfig.id]"
      >
        <h2 class="font-bold text-xl">{{ callConfig.data().cron }}</h2>
        <p class="text-xs text-gray-700">
          ({{ callConfig.data().cron | naturalCron }})
        </p>
        <p class="py-2">Number: {{ callConfig.data().toNumber }}</p>
      </div>
      <button class="button-warning" (click)="deleteCallConfig(callConfig)">
        Delete <i class="fa-thin fa-trash-can"></i>
      </button>
    </div>
  </ng-container>
</div>
