<div class="p-4">
  <div
    class="flex flex-col space-y-4"
    *ngIf="whatsAppConfig$ | async as config"
  >
    <div class="space-y-1">
      <h1 class="font-bold text-3xl">{{ config.cron }}</h1>

      <div class="flex items-center space-x-4">
        <div class="text-xs text-gray-700 flex items-center">
          ({{ config.cron | naturalCron | cleanCron }})
        </div>
        <div class="relative inline-block" *ngIf="config.enabled">
          <div
            class="animate-ping w-full h-full absolute bg-green-200 inbline-block rounded-full -z-10"
          ></div>
          <div
            class="rounded-full text-xs bg-green-500 uppercase px-2 font-bold text-white"
          >
            Enabled
          </div>
        </div>

        <div class="relative inline-block" *ngIf="!config.enabled">
          <div
            class="rounded-full text-xs bg-red-500 uppercase px-2 font-bold text-white"
          >
            Disabled
          </div>
        </div>
      </div>

      <p class="py-2">
        <span class="font-bold">WhatsApp contact to send:</span>
        {{ config.to }}
      </p>
    </div>

    <div class="flex justify-between">
      <app-modal>
        <button parent class="button-primary self-end text-sm py-1 px-2">
          <i class="fa-light fa-pen-to-square"></i> Edit
        </button>
        <div child class="flex flex-col">
          <h1 class="font-bold text-lg self-center">Edit</h1>

          <div class="-mx-10 py-4">
            <hr />
          </div>

          <h2 class="font-bold">Details</h2>

          <form
            class="flex flex-col space-y-4"
            [formGroup]="updateConfigForm"
            (ngSubmit)="updateConfig()"
          >
            <div class="flex flex-col space-y-1">
              <label class="text-xs font-bold">Scheduled messages:</label>
              <input
                formControlName="cron"
                class="p-2 border rounded-md"
                type="text"
                placeholder="e.g. Every sunday at 7pm"
                autocomplete="off"
                data-lpignore="true"
                data-form-type="other"
              />

              <div class="text-xs flex space-x-2 text-gray-500">
                <strong
                  ><i class="fa-regular fa-calendar-clock"></i> Cron
                  Preview:</strong
                >
                <span *ngIf="cron$ | async as cron">
                  {{ cron | naturalCron | cleanCron }}
                </span>

                <span *ngIf="!(cron$ | async)">Type something above...</span>
              </div>

              <div
                *ngIf="updateConfigForm.get('cron')?.errors as errors"
                class="text-xs flex space-x-2 text-red-500"
              >
                <span *ngIf="errors['invalidCron'] && !errors['identical']"
                  >Invalid Cron! Please check. Make sure to use colon ':' for
                  times. E.g. 2:15pm</span
                >
                <span
                  *ngIf="
                    !errors['invalidCron'] &&
                    errors['identical'] &&
                    !errors['required']
                  "
                  >Invalid Cron! Please check.</span
                >
                <span
                  *ngIf="
                    errors['required'] &&
                    errors['identical'] &&
                    errors['isNotTimeCron']
                  "
                  >Please enter a value</span
                >

                <span *ngIf="!errors['required'] && errors['isNotTimeCron']"
                  >Make sure that there is a time specified in the Cron,
                  otherwise it will message every minute!</span
                >
              </div>
            </div>

            <div class="flex flex-col space-y-1">
              <label class="text-xs font-bold"
                >Recipient's WhatsApp Number:</label
              >

              <select class="p-2 border rounded-md" formControlName="to">
                <option
                  [value]="chat.id._serialized"
                  *ngFor="let chat of chats"
                >
                  {{ chat.name }}
                </option>
              </select>
            </div>

            <div class="flex flex-col space-y-1">
              <label class="text-xs font-bold">Scheduled messages:</label>
              <div class="flex space-x-1">
                <input
                  formControlName="gpt3Prompt"
                  class="p-2 border rounded-md flex-grow"
                  type="text"
                  placeholder="e.g. Write a good night message"
                  autocomplete="off"
                  data-lpignore="true"
                  data-form-type="other"
                />
                <button
                  class="button-primary"
                  type="button"
                  (click)="createCompletions()"
                >
                  <i class="fa-light fa-vial"></i>
                </button>
              </div>
              <div>
                <p
                  class="text-xs italic"
                  *ngFor="let completion of completions"
                >
                  "{{ completion }}"
                </p>
              </div>
            </div>

            <div class="flex space-x-4">
              <div class="flex space-x-2 items-center my-2">
                <div
                  class="w-16 h-8 bg-black p-1 flex items-center rounded-full cursor-pointer transition-all"
                  (click)="toggle()"
                  [class.bg-green-500]="config.enabled"
                  [class.justify-end]="config.enabled"
                >
                  <div class="bg-white h-6 w-6 rounded-full"></div>
                </div>
              </div>

              <button class="button-primary flex-grow" type="submit">
                <i class="fa-light fa-alarm-clock"></i> Update
              </button>
            </div>
          </form>
        </div>
      </app-modal>
    </div>
  </div>

  <div class="-mx-4 py-4">
    <hr />
  </div>

  <h1 class="font-bold text-2xl pb-4">WhatsApp messages</h1>

  <div class="space-y-4" *ngIf="whatsAppMessages$ | async as messages">
    <div
      class="flex flex-col space-y-2 items-center py-4"
      *ngIf="messages.length === 0"
    >
      <i class="fa-regular fa-phone-flip text-3xl"></i>
      <p class="text-lg">No messages yet!</p>
    </div>
    <div
      class="flex flex-col border rounded p-4 space-y-4"
      *ngFor="let message of messages"
    >
      <h3 class="font-bold">
        {{ message.data().createdAt | timestampToDate | date: "medium" }}
      </h3>

      <div class="flex justify-between flex-row-reverse bg-">
        <div
          class="rounded text-white font-semibold px-2 py-1"
          [class.bg-green-500]="message.data().status === 'completed'"
        >
          {{ message.data().status }}
        </div>
      </div>
    </div>
  </div>
</div>
