<div class="p-4">
  <div
    class="flex flex-col space-y-4"
    *ngIf="callConfig$ | async as callConfig"
  >
    <div class="space-y-1">
      <h1 class="font-bold text-3xl">{{ callConfig.cron }}</h1>
      <p class="text-xs text-gray-700">({{ callConfig.cron | naturalCron }})</p>
      <p class="py-2">
        <span class="font-bold">Number to call:</span> {{ callConfig.toNumber }}
      </p>
    </div>

    <h2 class="font-bold">Audio to play:</h2>

    <audio class="self-center" controls="">
      <source [src]="callConfig.soundFile | safeHtml: 'url'" type="audio/wav" />
    </audio>

    <button class="button-warning self-end text-sm p-1" (click)="testCall()">
      <i class="fa-light fa-phone"></i> Force Call
    </button>
  </div>

  <div class="-mx-4 py-4">
    <hr />
  </div>

  <h1 class="font-bold text-2xl pb-4">Recording</h1>

  <app-audio-recorder
    [userUid]="user.uid"
    [callConfigUid]="callConfigUid"
  ></app-audio-recorder>

  <div class="-mx-4 py-4">
    <hr />
  </div>

  <h1 class="font-bold text-2xl pb-4">Call logs</h1>

  <ng-container *ngIf="calls$ | async as calls">
    <div *ngFor="let call of calls">{{ call | json }}</div>
  </ng-container>
</div>
