<div
  class="flex flex-col m-4 space-y-8 items-center justify-center h-screen"
  *ngIf="loading"
>
  <div><i class="fa-duotone fa-spinner-third fa-spin text-7xl"></i></div>
  <div class="space-y-4" *ngIf="guardType === 'whatsapp'">
    <p class="text-center font-bold">
      Talking to WhatsApp <i class="fa-brands fa-whatsapp"></i> servers...
    </p>
    <p class="text-center text-xs">
      This may take a while. Please wait...
      <i class="fa-light fa-hourglass-clock"></i>
    </p>
    <p
      class="text-center text-xs rounded-full py-1 px-2 text-white bg-green-500"
    >
      {{ message$ | async }}
    </p>
  </div>
  <button class="button-warning rounded-full pl-2 pr-4 py-1 font-normal flex items-center space-x-2 text-lg" [routerLink]="['/']"><i class="fa-light fa-circle-xmark"></i> <span>Cancel</span></button>
</div>

<router-outlet></router-outlet>
